body {
    font-family: Arial, sans-serif;
    background: #eafaf1;
}

.container {
    width: 380px;
    margin: 120px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 12px 0;
}

button {
    padding: 10px 25px;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}
